.cartContainer {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  justify-items: center;
}
.cartImg {
  height: 60px;
}
.cartCount {
  height: 100%;
  width: 100%;
  font-weight: bold;
  position: absolute;
  text-align: center;
  left: 5px;
  top: -4px;
  color: white;
}
