.cart {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  justify-items: center;
  transition: all 0.3s;
  padding: 1rem;
}
.cart-disabled {
  position: relative;
  display: flex;
  flex-flow: column nowrap;
  align-content: center;
  justify-items: center;
  transition: all 0.3s;
  padding: 1rem;
  filter: grayscale();
}
.cart__img {
  height: 50px;
}
.cart:hover {
  transform: scale(95%);
}
.cart__counter {
  height: 100%;
  width: 100%;
  font-weight: bold;
  font-size: 0.8rem;
  position: absolute;
  text-align: center;
  left: 5px;
  top: 15px;
  color: var(--color-bg);
}
@media screen and (max-width: 500px) {
  .cart__counter {
    height: 100%;
    width: 100%;
    font-weight: bold;
    font-size: 0.8rem;
    position: absolute;
    text-align: center;
    text-overflow: clip;
    left: 5px;
    top: 16px;
    color: var(--color-bg);
  }
}
