.itemListContainer {
  display: flex;
  flex-flow: column nowrap;
  width: 100%;
  align-items: center;
  justify-content: center;
  background-color: var(--color-bg);
}
.itemListContainer__title {
  font-weight: bold;
  font-size: 1.5rem;
  background-color: var(--color-nav-btn);
  padding: 1rem;
  box-shadow: #1e2127 0px 0px 5px;
}