:root{
  --color-nav-bg:#1e2127;
  --color-nav-text:#ffffff;
  --color-nav-btn:#ffcc41;
  --color-nav-btn-hover:#9b9654;
  --color-bg:#101214;
  --color-one:#355c7d;
  --color-border:#ffcc41;
  --color-tree:#c06c84;
  --color-four:#f67280;
  --color-five:#f8b195;
}
html{
  margin: 0;
  padding: 0;
  width: 100vw;
  height: fit-content;
  overflow-x: hidden;
  overflow-anchor: none;
  scroll-behavior: smooth;
}

.App {
  text-align: center;
  background-color: var(--color-bg);
  min-height: 100vh;
  display: flex;
  flex-flow: column nowrap;
  box-sizing: border-box;
}

.no_selection {
  -webkit-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

